{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<h2>Iniciar Atendimento</h2>

<div class="form-group">
    <label for="busca-animal">Buscar Animal:</label>
    <input type="text" id="busca-animal" class="form-control" placeholder="Digite o nome do animal ou tutor">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

<script>
    $(function () {
        $("#busca-animal").autocomplete({
            source: "{% url 'clinica:buscar_animais_para_atendimento' %}",
            minLength: 2,
            select: function (event, ui) {
                if (ui.item && ui.item.id) {
                    window.location.href = "/atendimento/novo/" + ui.item.id + "/";
                }
            }
        });
    });
</script>
{% endblock %}